<script setup lang="ts">
import { computed, ref } from "vue";
import MasonryWall from "@yeger/vue-masonry-wall";
import SearchIcon from "./components/icons/SearchIcon.vue";
import { User } from "./type/user";
import { Post } from "./type/Post";

const posts = ref<Post[]>([]);
const users = ref<User[]>([]);
const search = ref("");

async function getPosts() {
  const res = await fetch("https://jsonplaceholder.typicode.com/posts");
  posts.value = await res.json();
}

async function getUsers() {
  const res = await fetch("https://jsonplaceholder.typicode.com/users");
  users.value = await res.json();
}

function getUserNameById(id: number) {
  const user = users.value.find((user: User) => {
    return user.id === id;
  });
  return user ? user.name : `User ${id} not found`;
}

const searchUser = computed((): User | boolean => {
  return (
    users.value.find((user) => {
      return user.name === search.value;
    }) || false
  );
});
const postFilter = computed(() => {
  if (searchUser.value) {
    return posts.value.filter((post) => {
      //ts ругается на отсудствие id у афдыу, однако, если searchUser.value будет, до сюда не дойдет
      if (post.userId === searchUser.value.id) {
        return post;
      }
    });
  } else {
    return posts.value;
  }
});

getPosts();
getUsers();
</script>

<template>
  <div class="wrapper">
    <div class="wrapper__search">
      <SearchIcon class="search__icon" />

      <b-form-input
        v-model="search"
        placeholder="Filter by author"
      ></b-form-input>
    </div>
  </div>

  <masonry-wall :items="postFilter" :column-width="300" :gap="16">
    <template #default="{ item }">
      <b-card
        :title="item.title"
        tag="article"
        class="mb-2 text-start text-primary"
      >
        <b-card-text class="text-left text-body">
          {{ item.body }}
        </b-card-text>
        <span class="text-secondary"
          >User: {{ getUserNameById(item.userId) }}</span
        >
      </b-card>
    </template>
  </masonry-wall>
</template>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  height: 50px;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  &__search {
    display: flex;
    width: 300px;
  }
}
.search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 10px;
}
</style>
